

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.contianer{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.contianer .img-contianer{
    width: 40%;
    height: 100%;
    /* overflow: hidden; */
}

.contianer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.contianer  .img-contianer h2{
    position: relative;
    bottom: 75%;
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.295);
    padding: 25px;
    text-align: center;
}

.contianer .text-area{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: auto;
    padding: 50px;
}

.contianer .text-area .top-sec{
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
}

.contianer .text-area .top-sec p{
    font-size: 40px;
    font-weight: 400;
}

.contianer .text-area .top-sec h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

.contianer form .form-inputs{
    display: flex;
    margin-bottom: 50px;
}

.contianer form h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.contianer form .sec{
    margin-right: 50px;
}

.contianer form .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contianer form input{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #818181;
}

.contianer form label{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contianer .text-area button{
    width: 250px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid red;
    background: transparent;
    font-size: 18px;
    transition: .2s ease;
    cursor: pointer;
}

.contianer .text-area button:hover{
    background: red;
    color: #fff;
}

.contianer .text-area span{
    margin-top: 30px;
    font-size: 20px;
}

.contianer .text-area a{
    text-decoration: none;
    color: red;
    margin-left: 10px;
}
